FollowUpTask{
    text-align: center;
}

#headingFollowUp{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
}

#taskIconImg{
    margin-left: 1rem;
}

#titleFollowUp {
    font-size: 40px;
    font-weight: 500;
    position: relative;
    color: #21acfa;
}

#taskIcon {
    display: flex;
}

#resizedTextbox {
    width: 15%;
    height: 3%;
}

#taskType {
    color: white;
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: center;
    width: 79%;
}

#containerOne{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    height: fit-content;
    width: 80vw;
    background-color: #abdefb;
    flex-wrap: wrap;
}

#containerOneLeft {

}

#wardNumber {
    margin-bottom: 1rem;
}

#containerOneRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

#priority{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 1rem;
}


.checkLabel {
    display: flex;
}

#urgent {
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#urgentLabel {
}

#nonUrgent {
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#nonUrgentLabelN {
}

#taskType {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: 6rem;
    width: 80vw;
    color: black;
    background-color: LightSkyBlue;
    border-radius: 1%;
}


#containerThree{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: fit-content;
    width: 80vw;
    background-color: #ddeffa;
}
#inputRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#seniority {
    display: flex;
}

#juniorLabel {
    margin-left: 1rem;
}

#junior {
    margin-left: 0.5rem;
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#SHOLabel {
    margin-left: 1rem;
}

#SHO {
    margin-left: 0.5rem;
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#consultantLabel {
    margin-left: 1rem;
}

#consultant {
    margin-left: 0.5rem;
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#covidStatusInput {
    display: flex;
}

#covidStatus {
}

#red {
    margin-left: 0.5rem;
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#redLabel {
    margin-left: 1rem;
}

#blue {
    margin-left: 0.5rem;
    margin-top: 3px;
    height: fit-content;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#blueLabel {
    margin-left: 1rem;
}

#schedule {
}

#containerFour{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: fit-content;
    width: 80vw;
    background-color: #ddeffa;
}
#additionalNotesBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#additionalNotes {
    margin: 20px;
    height: 100px;
    border: none;
    background-color: aliceblue;
    padding: 2px;
    border-radius: 5px;
    padding: 2px;
    width:1070px;
}

#actionButtonsFollowUp {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
}

#addTaskButton {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-left: 150px;
}

#AddTask {
    color: white;
    font-size: large;
    border-color: DodgerBlue;
    background-color: DodgerBlue;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 50px;
}
#ReturnToTaskList {
    color: white;
    font-size: large;
    border-color: DodgerBlue;
    background-color: DodgerBlue;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 50px;
}