NewTask{
    text-align: center;
}

.patientName {
    background-color: #21ACFA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#taskType {
    width: 1110px;
    color: black;
    background-color: #21ACFA;
    border-radius: 2px;
}

#AddTask {
    position: fixed;
    left:45%;
    height: 40px;
    width: 150px;
    color: white;
    border-color: #21ACFA;
    background-color: DodgerBlue;
    border-radius: 2px;
}