NewTask{
    text-align: center;
}

#taskIconN{
    position: fixed;
    right: 30px;
}



.patientName {
    background-color: LightSkyBlue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#containerZeroN{
    position: fixed;
    top: 65px;
    right: 5px;
}

#containerOneN{
    position: relative;
    top: 25px;
}

#containerTwoN{
    position: relative;
    top: 25px;
}

#containerThreeN{
    position: relative;
    top: 25px;
}

#containerFour{
    position: relative;
    top: 25px;
}

#taskTypeN {
    position: relative;
    width: 1110px;
    color: black;
    top: 0px;
    background-color: LightSkyBlue;
    border-radius: 2px;
}

#AddTaskN {
    position: relative;
    top: 25px;
    left:45%;
    height: 40px;
    width: 150px;
    color: white;
    border-color: LightSkyBlue;
    background-color: DodgerBlue;
    border-radius: 2px;
}