NewTask{
    text-align: center;
}

#headingN{
    color:#21ACFA;
    left:10%;
    z:1;
}

#taskIconN{
    position: fixed;
    right: 2%;
}

#resizedTextboxN {
    width: 15%;
    height: 5%;
}

#containerZeroN{
    position: fixed;
    right: 1%;
}

#containerOneN{
    position: fixed;
    left:10%;
    height: 25%;
    width: 80%;
    top: 25%;
    background-color: #ABDEFB;
    /*display: grid;*/
    /*grid-template-columns: auto auto ;*/
}

#patientNameN{
    position: fixed;
    left:15%;
    height: 10%;
    top: 30%;
    width: 5%;
}

#MRNNumberN{
    position: fixed;
    right:15%;
    height: 10%;
    top: 30%;
    /*display: grid;*/
    /*grid-template-columns: auto auto auto ;*/
}

#wardNumberN{
    position: fixed;
    left:15%;
    height: 10%;
    top: 35%;
    /*display: grid;*/
    /*grid-template-columns: auto auto auto ;*/
}

#DOBN{
    position: fixed;
    right:15%;
    height: 10%;
    top: 35%;
}

#sexN{
    position: fixed;
    left:15%;
    height: 10%;
    top: 40%;
    width: 20%;
}

#femaleN{
    position: fixed;
    left:10%;
    top: 41%;
}
#femaleLabelN{
    position: fixed;
    left:20%;
    top: 40%;
}

#maleN{
    position: fixed;
    left:15%;
    top: 41%;
}

#maleLabelN{
    position: fixed;
    left:25%;
    top: 40%;
}


#priorityN{
    position: fixed;
    right:30%;
    height: 10%;
    top: 40%;
    width: 20%;
}

#taskTypeN {
    position: fixed;
    left:10%;
    height: 10%;
    width: 80%;
    color: black;
    background-color: LightSkyBlue;
    border-radius: 1%;
    top: 50%;

}


#containerThreeN{
    position: fixed;
    left:10%;
    height: 10%;
    width: 80%;
    top: 65%;
    background-color: #DDEFFA;
    display: grid;
}

#containerFourN{
    position: fixed;
    left:10%;
    height: 10%;
    width: 80%;
    top: 80%;
    background-color: #DDEFFA;
}


#AddTaskN {
    position: fixed;
    left:10%;
    height: 10%;
    width: 30%;
    top: 90%;
    color: white;
    border-color: LightSkyBlue;
    background-color: DodgerBlue;
    border-radius: 2px;
}