.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: LightSkyBlue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom {
  position: absolute;
  bottom: 50px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#welcomeName {
  position: fixed;
  left: 3%;
  top:  1%;
}

#dateTimeImg {
  position: fixed;
  top:  2%;
  left: 90%;
}

#dateTime {
  position: fixed;
  right: 5%;
  /*Percentage used because not all screens have the same size*/
  top: 100px;
}

#pageTitle {
  padding: 20px;
}


#tasksBox {
  position: absolute;
  top: 30%;
  text-align: center;
  background-color: LightSkyBlue;
  margin: 50px;
}

#prioritySeparation {
  right: 10%;
}

#followUpButton{
  color: white;
  width: 100%;
  border-color: DodgerBlue;
  background-color: DodgerBlue;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#taskDoneButton{
  color: white;
  width: 100%;
  border-color: mediumseagreen;
  background-color: mediumseagreen;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

